In [1]:
import pandas as pd
import my_utils as mu

In [2]:
df = mu.get_rawdata("GOLD")

get summonerId....

100%|██████████| 4/4 [00:02<00:00,  1.39it/s]

get puuId.....

100%|██████████| 12/12 [00:07<00:00,  1.60it/s]

get match_id....

100%|██████████| 12/12 [00:07<00:00,  1.51it/s]

get matches & timeline....

100%|██████████| 36/36 [00:57<00:00,  1.60s/it]

In [6]:
df.iloc[0].matches['info']['participants'][2]['kills']

3

In [16]:
df.iloc[0].match_id

match_id                                         KR_6850037986
matches      {'metadata': {'dataVersion': '2', 'matchId': '...
timelines    {'metadata': {'dataVersion': '2', 'matchId': '...
Name: 0, dtype: object

In [44]:
df.iloc[0].matches['info']['matchId']

KeyError: 'matchId'

In [61]:
df.iloc[0].matches['info']['summonerLevel']

KeyError: 'riotIdGameName'

In [65]:
df.iloc[0].matches['info']['participants'][0]['riotIdGameName']

'2647899349672992'

In [116]:
df_creates = []
for i in range(len(df)):
    match = df.iloc[i].matches['info']['participants']
    for j in range(len(match)):
        match_id = df.iloc[i].match_id
        game_duration = df.iloc[i].matches['info']['gameDuration']
        game_version = df.iloc[i].matches['info']['gameVersion']
        try:
            riotIdGameName = match[j]['riotIdGameName']
        except:
            riotIdGameName = ''
        try:
            riotIdTagline = match[j]['riotIdTagline']
        except:
            riotIdTagline = ''
        summoner_level = match[j]['summonerLevel']
        participant_id = match[j]['participantId'] 
        champion_name = match[j]['championName'] 
        champ_experience = match[j]['champExperience']
        team_position = match[j]['teamPosition']
        team_id = match[j]['teamId']
        win = match[j]['win']
        kills = match[j]['kills']
        deaths = match[j]['deaths']
        assists = match[j]['assists']
        total_damage_dealt = match[j]['totalDamageDealtToChampions']
        total_damage_taken = match[j]['totalDamageTaken']
        df_creates.append([match_id,game_duration,game_version,riotIdGameName,riotIdTagline,summoner_level,participant_id,champion_name,
                           champ_experience,team_position,team_id,win,kills,deaths,assists,total_damage_dealt,total_damage_taken])
columns =['matchId', 'gameDuration', 'gameVersion', 'riotIdGameName','riotIdTagline', 'summonerLevel', 'participantId', 'championName', 'champExperience', 'teamPosition', 'teamId', 'win', 'kills', 'deaths', 'assists', 'totalDamageDealtToChampions', 'totalDamageTaken']
df2 = pd.DataFrame(df_creates, columns= columns)

In [117]:
df2

,matchId,gameDuration,gameVersion,riotIdGameName,riotIdTagline,summonerLevel,participantId,championName,champExperience,teamPosition,teamId,win,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken
0,KR_6850037986,1693,13.24.547.9214,2647899349672992,KR1,39,1,KSante,13377,TOP,100,False,4,6,5,12981,28600
1,KR_6850037986,1693,13.24.547.9214,뇌절하는카이사,KR1,244,2,LeeSin,12056,JUNGLE,100,False,7,7,8,20648,28550
2,KR_6850037986,1693,13.24.547.9214,T1 Teddy,Ruler,128,3,Leblanc,12464,MIDDLE,100,False,3,5,6,14806,20172
3,KR_6850037986,1693,13.24.547.9214,아기아님,KR1,127,4,Jhin,10771,BOTTOM,100,False,7,7,7,12205,18831
4,KR_6850037986,1693,13.24.547.9214,서울사람 뚱이,KR1,31,5,Bard,9287,UTILITY,100,False,1,7,9,4134,21251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,KR_6856674295,1217,13.24.547.9214,Isabell,KR1,176,6,Akali,8570,TOP,200,False,3,6,1,10458,19476
352,KR_6856674295,1217,13.24.547.9214,킴하람,KR1,95,7,LeeSin,7191,JUNGLE,200,False,5,5,4,6814,21602
353,KR_6856674295,1217,13.24.547.9214,유기공포발모광,KR1,197,8,Yasuo,7276,MIDDLE,200,False,1,5,3,8529,14106
354,KR_6856674295,1217,13.24.547.9214,사루토비 하성민,KR1,321,9,Aphelios,8403,BOTTOM,200,False,4,7,7,9107,16360
355,KR_6856674295,1217,13.24.547.9214,뀌 수,KR1,564,10,Bard,5971,UTILITY,200,False,3,10,7,5697,18495

[['gameId',
  'gameDuration',
  'gameVersion',
  'riotIdGameName',
  'riotIdTagline',
  'summonerLevel',
  'participantId',
  'championName',
  'champExperience',
  'teamPosition',
  'teamId',
  'win',
  'kills',
  'deaths',
  'assists',
  'totalDamageDealtToChampions',
  'totalDamageTaken']]

In [80]:
df.iloc[0].timelines['info']['frames'][0]['participantFrames']['10']['totalGold']

500

In [105]:
columns = ['matchId','participantId','g5','g6','g7','g8','g9']

In [106]:
lst = []
for i in range(len(df)):
    timeline = df.iloc[i].timelines['info']['frames'][0]['participantFrames']
    for j in range(len(timeline)):
        tmp = []
        match_id = df.iloc[i].match_id
        tmp.append(match_id)
        participant_id =  df.iloc[i].timelines['info']['participants'][j]['participantId']
        tmp.append(participant_id)
        for k in range(5,10):
            tmp.append(df.iloc[i].timelines['info']['frames'][k]['participantFrames'][str(j+1)]['totalGold'])
        lst.append(tmp)
df3 = pd.DataFrame(lst,columns=columns)

In [118]:
df3

           matchId  participantId    g5    g6    g7    g8    g9
0    KR_6850037986              1  1249  1540  1931  2451  2630
1    KR_6850037986              2  1443  1694  1932  2368  2700
2    KR_6850037986              3  1308  1522  1686  1850  2106
3    KR_6850037986              4  1312  1627  1798  1976  2183
4    KR_6850037986              5  1047  1256  1425  1600  1735
..             ...            ...   ...   ...   ...   ...   ...
351  KR_6856674295              6  1499  1803  2121  2382  2582
352  KR_6856674295              7  1518  1745  2203  2515  3162
353  KR_6856674295              8  1466  1806  1928  2231  2687
354  KR_6856674295              9  1424  1628  1958  2155  3291
355  KR_6856674295             10  1588  1823  2187  2346  2697

[356 rows x 7 columns]

In [120]:
pd.merge(df2,df3,on=['matchId','participantId'])

,matchId,gameDuration,gameVersion,riotIdGameName,riotIdTagline,summonerLevel,participantId,championName,champExperience,teamPosition,...,kills,deaths,assists,totalDamageDealtToChampions,totalDamageTaken,g5,g6,g7,g8,g9
0,KR_6850037986,1693,13.24.547.9214,2647899349672992,KR1,39,1,KSante,13377,TOP,...,4,6,5,12981,28600,1249,1540,1931,2451,2630
1,KR_6850037986,1693,13.24.547.9214,뇌절하는카이사,KR1,244,2,LeeSin,12056,JUNGLE,...,7,7,8,20648,28550,1443,1694,1932,2368,2700
2,KR_6850037986,1693,13.24.547.9214,T1 Teddy,Ruler,128,3,Leblanc,12464,MIDDLE,...,3,5,6,14806,20172,1308,1522,1686,1850,2106
3,KR_6850037986,1693,13.24.547.9214,아기아님,KR1,127,4,Jhin,10771,BOTTOM,...,7,7,7,12205,18831,1312,1627,1798,1976,2183
4,KR_6850037986,1693,13.24.547.9214,서울사람 뚱이,KR1,31,5,Bard,9287,UTILITY,...,1,7,9,4134,21251,1047,1256,1425,1600,1735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,KR_6856674295,1217,13.24.547.9214,Isabell,KR1,176,6,Akali,8570,TOP,...,3,6,1,10458,19476,1499,1803,2121,2382,2582
352,KR_6856674295,1217,13.24.547.9214,킴하람,KR1,95,7,LeeSin,7191,JUNGLE,...,5,5,4,6814,21602,1518,1745,2203,2515,3162
353,KR_6856674295,1217,13.24.547.9214,유기공포발모광,KR1,197,8,Yasuo,7276,MIDDLE,...,1,5,3,8529,14106,1466,1806,1928,2231,2687
354,KR_6856674295,1217,13.24.547.9214,사루토비 하성민,KR1,321,9,Aphelios,8403,BOTTOM,...,4,7,7,9107,16360,1424,1628,1958,2155,3291
355,KR_6856674295,1217,13.24.547.9214,뀌 수,KR1,564,10,Bard,5971,UTILITY,...,3,10,7,5697,18495,1588,1823,2187,2346,2697

In [95]:
result

,"(gameId,)","(gameDuration,)","(gameVersion,)","(riotIdGameName,)","(riotIdTagline,)","(summonerLevel,)","(participantId,)","(championName,)","(champExperience,)","(teamPosition,)",...,"(assists,)","(totalDamageDealtToChampions,)","(totalDamageTaken,)",match_id,participantsId,g5,g6,g7,g8,g9
0,KR_6850037986,1693,13.24.547.9214,2647899349672992,KR1,39,1,KSante,13377,TOP,...,5,12981,28600,KR_6850037986,1,1249,1540,1931,2451,2630
1,KR_6850037986,1693,13.24.547.9214,뇌절하는카이사,KR1,244,2,LeeSin,12056,JUNGLE,...,8,20648,28550,KR_6850037986,2,1443,1694,1932,2368,2700
2,KR_6850037986,1693,13.24.547.9214,T1 Teddy,Ruler,128,3,Leblanc,12464,MIDDLE,...,6,14806,20172,KR_6850037986,3,1308,1522,1686,1850,2106
3,KR_6850037986,1693,13.24.547.9214,아기아님,KR1,127,4,Jhin,10771,BOTTOM,...,7,12205,18831,KR_6850037986,4,1312,1627,1798,1976,2183
4,KR_6850037986,1693,13.24.547.9214,서울사람 뚱이,KR1,31,5,Bard,9287,UTILITY,...,9,4134,21251,KR_6850037986,5,1047,1256,1425,1600,1735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,KR_6856674295,1217,13.24.547.9214,Isabell,KR1,176,6,Akali,8570,TOP,...,1,10458,19476,KR_6856674295,6,1499,1803,2121,2382,2582
352,KR_6856674295,1217,13.24.547.9214,킴하람,KR1,95,7,LeeSin,7191,JUNGLE,...,4,6814,21602,KR_6856674295,7,1518,1745,2203,2515,3162
353,KR_6856674295,1217,13.24.547.9214,유기공포발모광,KR1,197,8,Yasuo,7276,MIDDLE,...,3,8529,14106,KR_6856674295,8,1466,1806,1928,2231,2687
354,KR_6856674295,1217,13.24.547.9214,사루토비 하성민,KR1,321,9,Aphelios,8403,BOTTOM,...,7,9107,16360,KR_6856674295,9,1424,1628,1958,2155,3291
355,KR_6856674295,1217,13.24.547.9214,뀌 수,KR1,564,10,Bard,5971,UTILITY,...,7,5697,18495,KR_6856674295,10,1588,1823,2187,2346,2697

In [ ]:
dates.merge(data_holes, how='left', on=['name','week'])